<div *ngIf='profile' class="mx-auto">
    <form action="">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search git user here..." [(ngModel)]="visitorUsername"
                name="visitorUsername" (keyup)="findProfile()">
        </div>
    </form>
    <div class="card text-center">

        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <img src="{{profile.avatar_url}}" alt="" class="rounded-circle img-fluid">
                </div>
            </div>
            <div class="row">
                <div class="col-12 my-4">
                    <h3>{{profile.name}} <small>({{profile.login}})</small>
                        <span class="ml-4 col-sm-12 col-xs-12 col-12"><a href="{{profile.html_url}}" target="_blank"
                                class="btn btn-success btn-sm">View profile
                                on
                                github</a></span></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <ul class="list-group">
                        <li class="list-group-item" *ngIf='profile.bio'>{{profile.bio}}</li>
                        <li class="list-group-item" *ngIf='profile.hireable'>Available for hire</li>
                        <li class="list-group-item" *ngIf='profile.blog'><a href="{{profile.blog}}"
                                target="_blank">{{profile.blog}}</a></li>
                        <li class="list-group-item" *ngIf='profile.email'><a
                                href="emailto:{{profile.email}}">{{profile.email}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="row text-white mt-2">
                <div class="col-12 col-sm-12 col-md-3 col-xs-12  my-3">
                    <span class="bg-success p-2 rounded">{{profile.followers}} Followers</span>
                </div>
                <div class="col-12 col-sm-12 col-md-3 col-xs-12  my-3">
                    <span class="bg-secondary p-2 rounded">Following {{profile.following}}</span>
                </div>
                <div class="col-12 col-sm-12 col-md-3 col-xs-12  my-3">
                    <span class="bg-dark p-2 rounded">{{profile.public_gists}} Public gists</span>
                </div>
                <div class="col-12 col-sm-12 col-md-3 col-xs-12  my-3">
                    <span class="bg-info p-2 rounded">{{profile.public_repos}} Public repos</span>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#reposModal">
                View Repos
            </button>

            <!-- Modal -->
            <div class="modal fade" id="reposModal" tabindex="-1" role="dialog" aria-labelledby="reposModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title ml-4" id="reposModalLabel">Repos</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-left">
                            <ul *ngFor='let repo of repos'>
                                <li class="row my-5 pr-4">
                                    <div class="col-8 text-left">
                                        <h4>{{repo.name}}</h4>
                                    </div>
                                    <div class="col-4">
                                        <a href="{{repo.html_url}}" class="btn btn-sm btn-warning" target="_blank">View
                                            on
                                            Github</a>
                                    </div>
                                    <div>
                                        {{repo.created_at | date}}
                                    </div>
                                    <div class="col-12">
                                        <hr>
                                    </div>
                                    <div class="col-12">
                                        <p>{{repo.description}}</p>
                                    </div>


                                </li>
                                <!-- <hr> -->
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>