<div *ngIf='profile'>
    <div class="panel panel-default">
        <div class="panel-heading">
            {{profile.name}} <small>{{profile.login}}</small>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3">
                    <img src="{{profile.avatar_url}}" alt="" class="img-circle img-responsive">
                </div>
                <div class="col-sm-5">
                    <ul class="list-group">
                        <li class="list-group-item" *ngIf='profile.bio'>{{profile.bio}}</li>
                        <li class="list-group-item" *ngIf='profile.hireable'>Available for hire</li>
                        <li class="list-group-item" *ngIf='profile.blog'><a href="{{profile.blog}}" target="_blank">{{profile.blog}}</a></li>
                        <li class="list-group-item" *ngIf='profile.email'><a href="emailto:{{profile.email}}">{{profile.email}}</a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <div>
                        <p>
                            <span class="label label-default">{{profile.followers}} Followers</span>
                            <span class="label label-default">Following {{profile.following}}</span>
                            <span class="label label-default">{{profile.public_gists}} Public gists</span>
                            <span class="label label-default">{{profile.public_repos}} Public repos</span>
                        </p>
                        <p><a href="{{profile.html_url}}" target="_blank" class="btn btn-success btn-sm">View profile on github</a></p>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Repos</h3>
                            </div>
                            <div class="panel-body" *ngFor='let repo of repos'>
                                <p>{{repo.name}}<a href="{{repo.html_url}}" class="btn btn-sm btn-warning" target="_blank">View on Github</a></p>
                                <p>{{repo.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  

</div>